mixin playerDisplay(playerModel)
  -var ifPlayerName = playerModel + ".fullName";
  -var ifTeamName   = playerModel + ".team.name";
  -var ifBirthdate  = playerModel + ".birthdate";
  -var ifAge        = playerModel + ".age != undefined";

  .row.player
    .col-sm-5
      img.person(src="../images/player.svg")
    .col-sm-7
      h3.playerName(ng-show=ifPlayerName) {{#{playerModel}.fullName}}

      .row
        .col-sm-6(ng-if=ifTeamName)
          p.teamName {{#{playerModel}.team.name}}

        .col-sm-6(ng-if=ifPlayerName)
          p.teamName &#x23{{#{playerModel}.number}} 

      .row
        .col-sm-6(ng-show=ifBirthdate)
          h3.sectionTitle Birthdate
          p {{#{playerModel}.birthdate}}

        .col-sm-6(ng-show=ifAge)
          h3.sectionTitle(ng-if=ifAge) Age
          p {{#{playerModel}.age}}
